.main-container{
    padding: 4rem;
    padding-bottom: 10rem;
    height: 100vh;
}

.table-title{
    padding-inline: 3.6rem;
}

.board-title{
    /* font-weight: bold; */
    font-size: 3rem;
}

.board-control-container{
    display: flex;
    justify-content: space-between;
}

.create-modal-btn{
    height: auto;
}