.main-container{
    padding: 4rem;
    padding-bottom: 10rem;
    height: 100vh;
}

.table-title{
    padding-inline: 3.6rem;
}

.board-title{
    /* font-weight: bold; */
    font-size: 3rem;
}

.board-control-container{
    display: flex;
    justify-content: space-between;
}

.create-modal-btn{
    height: auto;
}

.action-btn{
    background-color: #388bff;
    color: #fff;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    width: auto;
    border-radius: 0.4rem;
    cursor: pointer;
}

.action-btn:hover{
    background-color: #1074ff;

}