.task-card-cotainer {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.3rem;
    padding: 1.2rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.49);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    gap: 1rem;
}

.task-card-cotainer:hover{
    background-color: #00000012;
}

.task-card-title{
    font-size: 1.4rem;
    /* font-weight: normal; */
}

.tags-container {
    display: flex;
    gap: 0.4rem;
    list-style: none;
    flex-wrap: wrap;
}

.tags-container p{
    font-size: 1.3rem;
}

.tag-item{
    background-color: #f1f2f4;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}

.asignee-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asignee-container p{
    font-size: 1.4rem;
}

.asignee-img{
    display: flex;
    width: 3.2rem;
    border-radius: 100%;
    overflow: hidden;
}